:root{
    --color-selago:#E8E8FD;
    --color-kimberly:#62618F;
    --color-white:#FFFFFF;
    --color-bunting:#1A194D;
    --color-flamingo:#EE4D38;
    --color-titan-white:#F8F8FF;
    --color-ghost:#CBCBD9;
    --font-size:14px;
    --font-weight:400;
}